{% if "$" in move.2 %}
<div class="dropdown show">
    <a  id="ogcd2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    href="#" class="list-group-item list-group-item-action list-group-item-primary" data-book-id="my_id_value">{{move.2|slice:"1:50"}} </a>
    {% include "dropdownOgcd2.html" %}
</div>
{% else %}
<div class="dropdown show">
<a id="ogcd2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#" class="list-group-item list-group-item-action list-group-item-primary">None </a>
{% include "dropdownOgcd2.html" %}
</div>
{% endif %}