{% extends "baseTemplate.html" %}
{% block content %}
{% load static %}
<link href=" {%static 'style.css'%}" rel="stylesheet">
<style>.thing    {
	width: 115px;
	height: 50px;
    text-align: center;
    white-space: nowrap;
}</style>
<style>.smaller {
	width: 75px;
	height: 50px;
    white-space: nowrap;
}</style>
<style>.smallerer {
	width: 75px;
	height: 10px;
    text-align: center;
}</style>
<style>.thing2 {
	width: 115px;
	height: 25px;
    text-align: center;
}</style>
<div class="container">
    <h2>Ramuh</h2>
    <p> Ramuh Timeline </p>
    <hr>
<style>
    @media (max-width: 500px) {
    .dropdown-menu{
          height:200px;
          overflow-y:auto;
       }
    }
</style>
{% for ramuh in ramuh_list %}
<script>
//triggered when modal is about to be shown
$('#y{{ramuh.id}}').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var bookId = $(e.relatedTarget).data('book-id');

    //populate the textbox
    $(e.currentTarget).find('input[name="bookId"]').val(bookId);
});
</script>
{% if ramuh.damage != 0 %}
{% include "openScript.html" %}

<div id="accordion">
    <div class="card">
    <div class="row">
    <div class="col-md-12">
    <div class="card shadow p-0 bg-white rounded">
    <div class="cols-md-2">
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                {{ramuh.name}}
            </div>
            <div class="col-sm">
            {{ramuh.damage|floatformat}}
            </div>
            <div class="col-sm">
            {{ ramuh.time|date:"G:i"}} 
            </div>
            <div class="col-sm">
               <a class="btn btn-primary" data-toggle="collapse" href="#c{{ramuh.id}}" role="button" aria-expanded="false" aria-controls="c{{ramuh.id}}">Toggle first element</a>
            </div>
            </div>
            </div>
            
                <div class="collapse multi-collapse" id="c{{ramuh.id}}">
                    <div class="card card-body">
                    <div class="row">
                        <div class="col-sm">
                        <div class="list-group">
                        <p>
                            <div class="row no-gutters">
                            <div class=" smallerer">
                                GCD
                            </div>
                            <div class="thing2">
                                GCD Ability
                            </div>
                            <div class="thing2">
                                oGCD 1
                            </div>
                            <div class="thing2">
                                oGCD 2
                            </div>
                            </div>
                            {% include "buttonGrid.html" %}          
                        </p>
                        </div>
                        <!----Modal-->
                         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#co{{ramuh.id}}">
                            {{ramuh.id}}
                            </button>
                        </div>
                        <div class="col-sm">
                            Heal Moves
                        </div>
                    </div>
                    </div>
            </div>  
</div> 
</div>
</div>
</div> 
</div>
{% endif %}
{% endfor %}
</div>
                                      
{% include "modal.html" %}

{% endblock %}